<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>登录</title>
    <link rel="stylesheet" href="static/reset.css">
    <link href="static/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="comp/mint-ui/mint-ui.css">
    <link href="static/base.css" rel="stylesheet">
    <link href="static/login.css" rel="stylesheet">

    <script src="comp/vue.js"></script>
    <script src="comp/mint-ui/mint-ui.js"></script>
    <script src="comp/util.js"></script>
    <script src="comp/bmob-min.js"></script>
    <script src="comp/bmobMain.js"></script>
</head>
<body>
<div id="login">
    <div class="wx-content">
        <img class="logo" src="images/logo.png" alt="logo">
        <div class="app-name">星仔云笔记</div>
        <div class="wx-form">
            <div class="wx-form-item">
                <i class="icon iconfont icon-wode2"></i>
                <input type="text" placeholder="你的昵称" v-model="userName">
            </div>
            <div class="wx-form-item">
                <i class="icon iconfont icon-suo"></i>
                <input type="password" placeholder="密码" v-model="password">
            </div>
        </div>
        <mt-button @click="login" class="wx-btn" type="primary">登录</mt-button>
        <div class="wx-go" ><a href="register.html">注册新账号</a></div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#login",
        data:{
            userName:'',
            password:''
        },
        created:function () {
            mainBmob.init();
        },
        methods:{
            login:function () {
                var _this = this;
                if (!_this.validate()) {
                    return;
                }
                alert(1);
                Bmob.User.logIn(_this.userName, _this.password, {
                    success: function(user) {
                        console.log('123');
                        window.location.href = 'index.html';
                    },
                    error: function(user, error) {
                        if(error.code==101){
                            _this.$toast('用户名或密码不正确');
                        }else{
                            _this.$toast(error.message);
                        }
                    }
                });
            },
            validate:function(){
                if(!(this.userName && this.password)){    //非空验证
                    this.$toast('请将数据填写完整');
                    return false;
                }
                return true;
            }
        }
    });
</script>
</html>