<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>注册</title>
    <link rel="stylesheet" href="static/reset.css">
    <link href="static/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="comp/mint-ui/mint-ui.css">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/login.css">
    <script src="comp/vue.js"></script>
    <script src="comp/mint-ui/mint-ui.js"></script>
    <script src="comp/util.js"></script>
    <script src="comp/bmob-min.js"></script>
    <script src="comp/bmobMain.js"></script>
</head>
<body>
    <div id="login">
        <!--<mt-header fixed  title="星仔笔记" class="wx-header">
            <mt-button icon="back" slot="left">返回</mt-button>
            <mt-button icon="more" slot="right"></mt-button>
        </mt-header>-->
        <div class="wx-content">
            <img class="logo" src="images/logo.png" alt="logo">
            <div class="app-name">默云笔记</div>
            <div class="wx-form">
                <div class="wx-form-item">
                    <i class="icon iconfont icon-wode2"></i>
                    <input type="text" placeholder="你的昵称" v-model="userName">
                </div>
                <div class="wx-form-item">
                    <i class="icon iconfont icon-suo"></i>
                    <input type="password" placeholder="密码" v-model="password">
                </div>
                <div class="wx-form-item">
                    <i class="icon iconfont icon-suo"></i>
                    <input type="password" placeholder="确认密码" v-model="confirmPassword">
                </div>
            </div>
            <mt-button @click="register" class="wx-btn" type="primary">注册</mt-button>
            <div class="wx-go" ><a href="login.html">已有账号登录</a ></div>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: "#login",
        data:{
            userName:'',
            password:'',
            confirmPassword:''
        },
        created:function () {
            mainBmob.init();
        },
        methods:{
            register:function () {
                var _this=this;
                if(!_this.validate()){
                    return;
                }
                checkExit().then(function () {
                    var user = new Bmob.User();
                    user.set("username", _this.userName);
                    user.set("password", _this.password);
                    user.signUp(null, {
                        success: function(user) {
                            //登陆成功跳转
                            _this.$toast('登陆成功，请登录！');
                        },
                        error: function(user, error) {
                            if(error.code==202){
                                _this.$toast('用户名已经存在');
                            }else{
                                _this.$toast(error.message);
                            }
                        }
                    });
                });
                function checkExit() {
                    function checkIfExit(resolve, reject){
                        mainBmob.equalTo('_User',{'username':_this.userName}).then(function (data) {
                            console.log(data);
                            if(data.code==200){
                                if(data.list.length>0){
                                    _this.$messagebox('此昵称已存在，请您更换一个昵称！');
                                }else{
                                    resolve(true);
                                }
                            }else{
                                _this.$messagebox('请确认网络是否连接！');
                            }
                        })
                    }
                    var promise = new Promise(checkIfExit);
                    return promise;
                }
            },
            validate:function(){
                if(!(this.userName && this.password && this.confirmPassword)){    //非空验证
                    this.$toast('请将数据填写完整');
                    return false;
                }
                if(this.password.length<6){                                       //密码不能小于6位
                    this.$toast('密码的长度最小为6位');
                    return false;
                }
                if(this.password!=this.confirmPassword){                          //确认密码
                    this.$toast('两次输入的密码不一致');
                    return false;
                }
                return true;
            }
        }
    });
</script>
</html>