<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>博客</title>
    <link href="comp/highlight/styles/pojoaque.css" rel="stylesheet">
    <link rel="stylesheet" href="static/editor/editor-view.css">
    <link rel="stylesheet" href="comp/mint-ui/mint-ui.css">
    <link href="static/iconfont.css" rel="stylesheet">
    <link href="static/base.css" rel="stylesheet">
    <link href="component/wx-reply/wx-reply.css" rel="stylesheet">
    <link href="component/wx-comment/wx-comment.css" rel="stylesheet">
    <link href="component/wx-blogheader/wx-blogheader.css" rel="stylesheet">
    <link href="component/wx-toolbar/wx-toolbar.css" rel="stylesheet">
    <script src="comp/vue.js"></script>
    <script src="comp/util.js"></script>
    <script src="comp/bmob-min.js"></script>
    <script src="comp/bmobMain.js"></script>
    <script src="comp/marked.js"></script>
    <script src="comp/highlight/highlight.pack.js"></script>
    <script src="comp/clipboard.min.js"></script>
    <script src="comp/mint-ui/mint-ui.js"></script>
    <script src="component/wx-blogheader/wx-blogheader.js"></script>
    <script src="component/wx-comment/wx-comment.js"></script>
    <script src="component/wx-reply/wx-reply.js"></script>
    <script src="component/wx-toolbar/wx-toolbar.js"></script>
</head>
<style>
    .content{
        padding: 0 10px;
    }
    .comment-list{
        margin-bottom: 40px;
    }
    #blogContainer{
        position: absolute;
        width: 100%;
        top:40px;
        bottom: 40px;
        overflow-y: scroll;
        background-color: #fff;
    }
    .comment-interval{
        height: 10px;
        background-color: #ebebeb;
    }
</style>
<body>
    <div id="prview" class="preview">
        <mt-header fixed  v-bind:title="blog.attributes.title" class="wx-header">
            <mt-button icon="back" @click='router' slot="left">返回</mt-button>
            <mt-button icon="more" slot="right"></mt-button>
        </mt-header>
        <div  id="blogContainer">
            <!--标题-->
            <center><h3>{{blog.attributes.title}}</h3></center>
            <!--作者信息组件-->
            <wx-blogheader :blog="blog"></wx-blogheader>
            <!--文章内容-->
            <div class="content" v-html="blog.attributes.content"></div>
            <!--评论组件-->
            <div class="comment-list" v-on:commentBack="commentCall">
                <div class="comment-title" v-if="blog.attributes.commentNum>0">评论({{blog.attributes.commentNum}})</div>
                <div>
                    <wx-comment v-for="comment in tempComments"  :comment="comment" :blogid="blog.id" v-on:comment-back="commentBack"></wx-comment>
                </div>
                <div class="comment-interval" v-if="tempComments.length>0" ></div>
                <wx-comment v-for="comment in comments"  :comment="comment" :blogid="blog.id" v-on:comment-back="commentBack"></wx-comment>

            </div>
        </div>

        <wx-toolbar :blog="blog" v-on:comment-back="commentCall"></wx-toolbar>


    </div>
</body>
<script>
    marked.setOptions({
        highlight: function (code) {
            return hljs.highlightAuto(code).value;
        },
        gfm: true,
        tables: true,
        breaks: true,
        pedantic: true,
        sanitize: true,
        smartLists: true,
        smartypants: true
    });

    new Vue({
        el:"#prview",
        created:function () {
            this.$indicator.open();
            var _this=this;
            var params=getParamsFromUrl(document.URL);
            mainBmob.init();
            mainBmob.getSingleData('Blog',params.id).then(function (data) {
                if(data.code==200){
                    _this.blog=data.result;
                    var authorId=data.result.attributes.author;
                    return mainBmob.equalTo('Comment',{'blog':_this.blog.id,'type':0});         //获取评论列表
                }else{
                    _this.$toast('获取数据错误', '请确认您的网络是否通畅');
                    console.log(data.error);
                    console.log(data.result);
                }
            }).then(function (data) {
                if(data.code==200){
                    _this.comments=data.list;
                }else{
                    _this.$toast('获取数据错误', '请确认您的网络是否通畅');
                }
                _this.$indicator.close();
            });
            _this.$indicator.close();


        },
        data: {
            blog:{
                attributes:{
                    content:"",
                    title:''
                }
            },
            comments:[],
            tempComments:[],
            sortTempComments:[]
        },
        methods:{
            router:function () {
                history.back();
            },
            restime:function (time) {
                return dateFormat(time,'yyyy.MM.dd hh:mm');
            },
            commentCall:function (data) {
                this.tempComments.push(data);
            },
            commentBack:function (data) {
                this.blog.attributes.commentNum++;
            }

        }
    });
    //复制链接到剪切板
    var btn = document.getElementById('copy');
    var clipboard = new Clipboard(btn);
    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
</html>