body{
    background-color: #ebebeb;
}
/*头部导航*/
.wx-header{
    background-color: #dc4036;
}
/*内容*/
.wx-content{
    margin-top: 40px;
}
/*待开发*/
.await{
    text-align: center;
    color: #999;
    font-size: 18px;
    line-height: 100px;
    font-weight: 800;
}
/*分割*/
.interval{
    margin-top: 15px;
}
/*无数据*/
.nodata{
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
/*重写actionsheet样式*/
.mint-actionsheet-button, .mint-actionsheet-listitem {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    color: #666;
    background-color: #fff;
    font-weight: 500;
}
