/*预览效果*/
.preview{
    padding: 0;
}
.preview img{
    width: 100%;
}
.preview blockquote{
    border-left: 6px solid #b3b3b3;
    padding: 10px;
    box-sizing: border-box;
}
.preview blockquote p {
    font-weight: 400;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table th,td{
    border: 1px solid #d9d9d9;
}
pre{
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    padding: 10px;
    color: #555;
}
code{
    white-space: pre;
}
h1,h2,h3,h4,h5{
    font-weight: 700 !important;
}
h1{
    line-height: 60px !important;
    font-size: 30px !important;
}
h2{
    line-height: 52px !important;
    font-size: 26px !important;
}
h3{
    line-height: 44px !important;
    font-size: 22px !important;
}
h4{
    line-height: 36px !important;
    font-size: 18px !important;
}
h5{
    line-height: 28px !important;
    font-size: 14px !important;
}
p{
    font-size: 12px;
    line-height: 18px;
}
ol,ul{
    font-weight: 700;
    box-sizing: border-box;
}
ul{
    list-style: inherit !important;
}
ol{
    list-style: decimal !important;
}