html, body, #editor {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
#editor{
    display: flex;
    flex-direction: row;
}
#editor .editorArea,#editor .preview{
    flex:1;
}
#editor .editorArea{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}
.editorArea .title-bar input{
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
}
.editorArea .tool-Bar{
    width: 100%;
    height: 40px;
    background-color: #666;
    position: relative;
}
.tool-Bar .tool-Bar-save{
    position: absolute;
    right:15px;
    margin-top: 5px;
}
.tool-Bar .tool-Bar-loadImg{
    margin: 5px 15px;
    display: inline-block;
}
.tool-Bar-loadImg i{
    color:#fff;
    font-size: 30px;
}
.editorArea .editor-content{
    height: calc(100% - 80px);
}
.editorArea .editor-content textarea {
    width:100%;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    border:none;
    outline: none;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}


